{% extends 'base.html.twig' %}

{% block title %}Import Excel
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h2 class="mb-4 fw-bold">Importer les Médicaments (Excel)</h2>

		<button id="importBtn" class="btn btn-primary px-4">Importer depuis assets/doc</button>

		<div id="message" class="mt-4"></div>
	</div>
<a href="{{path('admin_import_dispositifs')}}">Importer les dispositifs médicaux</a>



	 <script>
	document.getElementById('importBtn').addEventListener('click', async () => {


	    const messageBox = document.getElementById('message');
	    messageBox.innerHTML = "<div class='alert alert-info'>Importation en cours...</div>";
	
	    try {
	        const response = await fetch('{{ path("medicine_import_process") }}', {
	            method: 'POST'
	        });
	
	        const text = await response.text();
console.log("Réponse brute :", text);

let data;

try {
    data = JSON.parse(text);
} catch (e) {
    messageBox.innerHTML = "<div class='alert alert-danger'>Réponse invalide : voir console</div>";
    return;
}

	
	        if (data.imported) {
	            messageBox.innerHTML =
	                `<div class='alert alert-success'>Importation terminée : ${data.imported} lignes importées ✔</div>`;
	        } else {
	            messageBox.innerHTML =
	                `<div class='alert alert-danger'>Erreur : ${data.error}</div>`;
	        }
	
	    } catch (error) {
			
	        messageBox.innerHTML =
	            `<div class='alert alert-danger'>Erreur : ${error}</div>`;
	    }
	});
	</script>
{% endblock %}

