{% extends 'base.html.twig' %}

{% block title %}Certificats médicaux

{% endblock %}

{% block body %}

	<div
class="container-fluid mt-4">


{# ================= HEADER (style app) ================= #}
{% embed '_partials/_page_header.html.twig' with {
		icon: 'bi bi-file-medical',
		title: 'Certificats médicaux',
		subtitle: 'Créez, modifiez et gérez vos modèles de certificats médicaux'
	} %}


{# Actions métier (mobile à gauche) #}
{% block header_actions_left %}
<span class="action-icon bg-primary text-white" role="button" onclick="openCreateCertificat()" data-bs-toggle="tooltip" title="Ajouter un certificat">
	<i class="bi bi-plus-circle"></i>

</span>{% endblock %}


{# Navigation (mobile à droite) #}
{# -> on garde le bloc par défaut (Accueil + Retour) du partial #}{% endembed %}


{# ================= LISTE ================= #}
<section class="mb-4">
	<div id="certificat-list">
		{% include 'certificats/_list.html.twig' %}
	</div>

</section>


{# ================= MODAL FORM ================= #}

{% include 'certificats/_modal_form.html.twig' %}


</div>


{% endblock %}

