{% extends 'base.html.twig' %}

{% block title %}Edit SuiviSoin{% endblock %}

{% block body %}
    <h1>Edit SuiviSoin</h1>

    {{ include('suivi_soin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_suivi_soin_index') }}">back to list</a>


    {{ include('suivi_soin/_delete_form.html.twig') }}





{% endblock %}
