<!DOCTYPE html>
<html>
	<head>
		<title>Impression ordonnance</title>
		<style>
			body {
				font-family: Arial, sans-serif;
			}

			@media print {
				.no-print {
					display: none;
				}
			}
		</style>
	</head>
	<body onload="window.print(); window.close();">

{% include 'ordonnance/ordonnance_pdf.html.twig' %}


	</body>
</html>

