body {
    background-color: gainsboro;
}
.home-bg {
    background: url('/assets/img/centre-noha-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: gainsboro;
}
