<footer class="container-fluid d-flex flex-wrap justify-content-between align-items-center py-2 bg-white shadow">
	<p class="col-md-4 mb-0 text-body-secondary">© 2025 Created by - Ridouane Jaouna</p>
	<a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" aria-label="Bootstrap">
		<svg class="bi me-2" width="40" height="32" aria-hidden="true">
			<use xlink:href="#bootstrap"></use>
		</svg>
	</a>
	<ul class="nav col-md-4 justify-content-end">
		<li class="nav-item">
			<a href="#" class="nav-link px-2 text-body-secondary">Accueil</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link px-2 text-body-secondary">Liste patients</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link px-2 text-body-secondary">Rendez-vous</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link px-2 text-body-secondary">FAQs</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link px-2 text-body-secondary">About</a>
		</li>
	</ul>
</footer>



<style>
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1030;


}

</style>


